<% if @microposts.count > 0 %>
    <div class="row">
        <div class="col-xs-8">
            <%= render 'favorites/favorite_microposts', microposts: @microposts, user: @user %>
        </div>
    </div>
<% else %>
    <div class="center jumbotron">
        <div class="text-center">
            <h1>Add to Favorites</h1>
            <%= link_to 'add some micropost to favorites', root_path, class: 'btn btn-lg btn-primary' %>
        </div>
    </div>
<% end %>